@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

:root {
  --transparent: rgba(0, 0, 0, 0);
  --white-transparent-50: rgba(255, 255, 255, 0.5);
  --black-transparent-50: rgba(0, 0, 0, 0.5);
  --black: #141414;
  --white: #e0e0e0;
  --control-font: "Inter", Helvetica, sans-serif;
  --purple: #3600d1;
  --dark-purple: #290296;
}
