main {
  height: 100vh;
  width: 100%;
  background: radial-gradient(circle 1000vh, #000000, #3957c3);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
/*  scrollbar-color: var(--black) var(--black-transparent-50);*/
  scrollbar-width: thin;
  /* z-index: 10; */
}

.board {
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
}

.grid-container,
.categories,
.clues {
  display: grid;
}

.grid-container {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 30px;
  padding: 20px;
  height: 675px;
  width: 95%;
}

.categories {
/*  grid-template-columns: repeat(6, 1fr);*/
  gap: 10px;
  font-size: 32px;
  color: var(--snow);
  min-height: 100px;
}

.clues {
/*  grid-template-columns: repeat(6, 1fr);*/
  gap: 10px;
  font-size: 40px;
  color: var(--gold);
  user-select: none;
}

.category-title,
.clue {
  background-color: var(--dark-blue);
  border-radius: 20px;
  font-family: var(--standard-font);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}

.clue.active {
  transition: background-color 0.2s ease 0s transform 0.2s ease 0s;
  cursor: pointer;
}

.clue.active:hover {
  background-color: var(--blue);
  transform: scale(1.05);
}

.players {
  z-index: 1;
  position: relative;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  background: var(--black-transparent-50);
  border: 3px solid black;
}

.players-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px 10px 20px 10px;
  align-self: stretch;
  box-sizing: border-box;
}

.player-card {
  display: grid;
  gap: 2.5px;
  outline-style: solid;
  outline-width: 0.5em
}

.player-score,
.player-name {
  background-color: var(--dark-blue);
  padding: 20px;
  text-align: center;
  height: 60px;
  box-sizing: border-box;
  font-size: 40px;
  color: var(--white);
  user-select: none;
}

.player-score {
  font-family: var(--standard-font);
}

.player-name {
  font-family: var(--hand-font);
}

/* .player-fog {
  width: 100%;
  height: 80px;
  position: sticky;
  bottom: 0;
  background: linear-gradient(rgba(255, 255, 255, 0), black);
  z-index: 1;
} */

.clue-bg {
  transition: all 0.5s ease 0s;
  position: fixed;
  z-index: 3;
  width: 0vw;
  height: 0vh;
  top: 0;
  left: 0;
  transform: translate(calc(50vw - 50%), calc(50vh - 50%));
  background-color: var(--dark-blue);
}
