main {
  height: 100vh;
  width: 100%;
  background: radial-gradient(circle 1000vh, #000000, #3957c3);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
  /*  scrollbar-color: var(--black) var(--black-transparent-50);*/
  scrollbar-width: thin;
  /* z-index: 10; */
}

.board {
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
}

.grid-container,
.categories,
.clues {
  display: grid;
}

.grid-container {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 30px;
  padding: 20px;
  height: 675px;
  width: 95%;
}

.categories {
  /*  grid-template-columns: repeat(6, 1fr);*/
  gap: 10px;
  font-size: 32px;
  color: var(--snow);
  min-height: 100px;
}

.clues {
  /*  grid-template-columns: repeat(6, 1fr);*/
  gap: 10px;
  font-size: 40px;
  color: var(--gold);
  user-select: none;
}

.category-title,
.clue {
  background-color: var(--dark-blue);
  border-radius: 20px;
  font-family: var(--standard-font);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
  line-height: normal;
}

.category-title {
  padding: 0 20% 0 20%;
}

.clue.active {
  transition: background-color 0.2s ease 0s, transform 0.2s ease 0s;
  cursor: pointer;
  padding: 0 30% 0 30%;
}

.clue.active:hover {
  background-color: var(--blue);
  transform: scale(1.05);
}

:host ::ng-deep .players {
  z-index: 1;
  position: relative;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60vw;
  background: var(--black-transparent-50);
  border: 3px solid black;
  min-width: 500px;
  max-width: 2000px;
}

:host ::ng-deep .players-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px 10px 20px 10px;
  align-self: stretch;
  box-sizing: border-box;
}

:host ::ng-deep .player-card {
  display: grid;
  gap: 2.5px;
  outline-style: solid;
  outline-width: 0.5em;
}

:host ::ng-deep .player-score,
:host ::ng-deep .player-name {
  background-color: var(--dark-blue);
  padding: 20px;
  text-align: center;
  height: 64px;
  box-sizing: border-box;
  font-size: 40px;
  color: var(--white);
  user-select: none;
  overflow: hidden;
}

:host ::ng-deep .player-score {
  font-family: var(--standard-font);
}

:host ::ng-deep .player-name {
  font-family: var(--hand-font);
  text-wrap: nowrap;
}

.clue-bg {
  transition: all 0.5s ease 0s;
  position: fixed;
  z-index: 3;
  width: 0vw;
  height: 0vh;
  top: 0;
  left: 0;
  transform: translate(calc(50vw - 50%), calc(50vh - 50%));
  background-color: var(--dark-blue);
}
