.main {
  background: radial-gradient(
    ellipse 100% 100% at center top,
    var(--dark-blue) 0%,
    var(--dark-blue) 52%,
    var(--dark-blue) 52%,
    #000000 100%
  );
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  scrollbar-width: thin;
  overflow: scroll;
}

.players {
  z-index: 1;
  position: relative;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.players-container {
  background: var(--black-transparent-50);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 20px 10px 20px 10px;
  align-self: stretch;
  box-sizing: border-box;
  border: 3px solid black;
}

.player-card {
  display: grid;
  gap: 2.5px;
}

.player-score,
.player-name {
  background-color: var(--dark-blue);
  padding: 20px;
  text-align: center;
  height: 30px;
  box-sizing: border-box;
  font-size: 25px;
  color: var(--white);
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-score {
  font-family: var(--standard-font);
}

.player-name {
  font-family: var(--hand-font);
}

/* .player-fog {
  width: 59.5%;
  height: 80px;
  position: fixed;
  bottom: 0;
  background: linear-gradient(rgba(255, 255, 255, 0), black);
  z-index: 1;
} */

.clue {
  padding: 8vh 5vh 10vh 5vh;
  height: 45%;
}

.clue-text {
  height: 100%;
  color: var(--snow);
  font-family: var(--standard-font);
  font-size: 50px;
  text-align: center;
  line-height: normal;
  text-transform: uppercase;
  /* font-size: clamp(24px, 2.5cqw, 50px); */
}

.clue-ui {
  position: sticky;
  top: 0;
}

.button-panel {
  display: flex;
  justify-content: center;
}

.button {
  background-color: var(--danger);
  border: 5px solid var(--dangerer);
  max-height: 240px;
  max-width: 240px;
  min-height: 160px;
  min-width: 160px;
  height: 20vh;
  width: 20vh;
  border-radius: 50%;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-size: 40px;
  font-family: var(--robot-font);
  transition: all 0.2s ease 0s;
  cursor: pointer;
  user-select: none;
  line-height: 1;
}

.button::before {
  content: "";
  position: absolute;
  inset: 2px -16px -16px 2px;
  z-index: -1;
  border-radius: 50%;
  background: var(--dangererer);
  filter: brightness(0.6);
  /* border: 1px solid var(--dangerest); */
}

/*
.button:hover {
  background-color: var(--red);
}
*/

/* banner is 60px tall with 50px botton margin */

.banner {
  left: 0;
  right: 0;
  padding: 15px;
  height: 60px;
  margin-bottom: 50px;
  /* background-size:100%;    */
}

.banner-text {
  color: var(--snow);
  font-family: var(--robot-font);
  font-size: 40px;
  text-align: center;
  line-height: normal;
}

/* answering text is 40px tall, with timer 20px tall*/

.answering-text {
  padding: 15px;
  height: 40px;
  color: var(--snow);
  font-family: var(--robot-font);
  font-size: 40px;
  text-align: center;
  line-height: normal;
}

.answering-outer {
  background-color: var(--black-transparent-75);
  margin-bottom: 50px;
}

.progress-bar {
  width: 100%;
  height: 10px;
  background-color: var(--black);
  position: fixed;
  bottom: 0%;
}

.progress-bar-fill {
  background-color: var(--red);
  height: 100%; /* This is important */
}

.who-or-what {
  display: block;
  font-size: 24px;
  color: white;
  /*  margin: 0 auto;*/
  text-align: center;
  margin-bottom: 5px;
}

.ans-form {
  margin-bottom: 5px;
}

input {
  display: block;

  background: var(--white-transparent-10);
  font-weight: bolder;
  font-size: 22px;

  border-top: 2px solid var(--white);
  border-bottom: 2px solid var(--white);
  border-left: 0;
  border-right: 0;

  color: white;
  text-align: center;

  margin: 0 auto;
  width: 80%;
  height: 40px;
}

textarea:focus,
input:focus {
  outline: none;
}
