@if (state == pageStates.Landing) {
<landing-view (hostGameEvent)="handleChangeState($event)" />
} @else if (state == pageStates.Waiting) {
<waiting-view
  (hostGameEvent)="handleChangeState($event)"
  [bgOverlay]="bgOverlay"
  [roomId]="connectorService.roomId"
  [players]="connectorService.players"
  [isHost]="connectorService.host"
/>
} @else if (state == pageStates.Loading) {
<loading-view [loadingMessage]="loadingMessage" />
} @else if (state == pageStates.InGame) {
<game-view
  [numRows]="connectorService.gameData.numClues"
  [numCols]="connectorService.gameData.numCategories"
  [categoryTitles]="connectorService.gameData.categoryTitles"
  [players]="connectorService.players"
  [prices]="connectorService.gameData.prices"
  [gameData]="connectorService.gameData"
  (chosenClue)="handleChosenClue($event)"
  (onBuzzIn)="handleBuzzIn()"
  (onAnswer)="handleAnswer($event)"
/>
}
<div class="bg"></div>
<div class="bg-overlay" #bgOver></div>
<router-outlet />
