.bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: radial-gradient(ellipse 69vw 69vh, #ce79f6, #030084, #000000);
  opacity: 0;
  transition: opacity 0.35s linear;
  top: 0;
  left: 0;
  z-index: -1;
}

.bg-rendered {
  opacity: 1;
}
