<main class="main">
  <div class="board">
    <div class="grid-container">
      <div
        class="categories"
        [ngStyle]="{ 'grid-template-columns': getGridTemplateCategories() }"
      >
        @for (category of categories; track category; let index = $index) {
        <div class="category-title" id="category-{{ index }}">
          {{ category }}
        </div>
        }
      </div>
      <div
        class="clues"
        *ngIf="prices"
        [ngStyle]="{ 'grid-template-columns': getGridTemplateCategories() }"
      >
        <ng-container *ngFor="let item of range(numRows * numCols)">
          <div
            [ngStyle]="{
              'pointer-events':
                gameData.isPicker && !intervalId && gameData.state === 'board'
                  ? 'auto'
                  : 'none'
            }"
            class="clue active"
            (click)="onClickClue($event)"
            [id]="item"
          >
            ${{ prices[item] }}
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <players-list
    [players]="players"
    [displayState]="'board'"
    [pickerIndex]="gameData.pickerIndex"
  />
  <div class="clue-bg"></div>
</main>
