<main class="main">
  <div class="clue-ui">
    <div class="clue">
      <div class="clue-text" #clueText>{{ _clue }}</div>
    </div>
    <div
      class="colored-banner"
      *ngIf="banner === BannerType.Green || banner === BannerType.Red"
    >
      <div class="banner" [style.background-color]="banner">
        <div class="banner-text">{{ bannerText }}</div>
      </div>
    </div>
    <div class="altanswering" *ngIf="banner === BannerType.AltAnswering">
      <div class="answering-outer">
        <div class="answering-text">{{ answeringText }}</div>
      </div>
    </div>
    <div class="answering" *ngIf="banner === BannerType.Answering">
      <div class="answering-form">
        <div class="who-or-what">Who/What is:</div>
        <form
          class="ans-form"
          type="submit"
          (ngSubmit)="onSubmitAnswer()"
          [formGroup]="form"
        >
          <input
            placeholder="your answer"
            id="ansInput"
            formControlName="answer"
            autocomplete="off"
            #myInput
          />
          {{ myInput.focus() }}
        </form>
      </div>
    </div>
    <div class="empty" *ngIf="banner === BannerType.Empty">
      <div class="button-panel">
        <div
          class="button"
          (click)="sendBuzzIn()"
          [ngStyle]="{
            'background-color': buzzedIn ? 'var(--dangererer)' : 'var(--red)'
          }"
        >
          Buzz In
        </div>
      </div>
    </div>
    <timer
      *ngIf="
        banner === BannerType.AltAnswering || banner === BannerType.Answering
      "
      id="watching-timer"
      [onMessage$]="timerObservable$"
    />
  </div>
  <players-list [players]="players" [displayState]="'clue'" />
  <div class="progress-bar">
    <div
      class="progress-bar-fill"
      [ngStyle]="{ 'width.%': progress * 100 }"
    ></div>
  </div>
</main>
