<main class="main">
  <div class="clue-ui">
    <div class="clue">
      <div class="clue-text" #clueText>{{ clue }}</div>
    </div>
    @if (banner === BannerType.Green || banner === BannerType.Red) {
    <div class="banner" [style.background-color]="banner">
      <div class="banner-text" #bannerDiv>{{ bannerText }}</div>
    </div>
    } @else if (banner === BannerType.AltAnswering) {
    <div class="answering-outer">
      <div class="answering-text" #bannerDiv>{{ answeringText }}</div>
    </div>
    } @else if (banner === BannerType.Answering) {
    <div class="answering-form">
      <div class="who-or-what">Who/What is:</div>
      <form
        class="ans-form"
        type="submit"
        (ngSubmit)="onSubmitAnswer()"
        [formGroup]="form"
      >
        <input
          placeholder="your answer"
          id="ansInput"
          formControlName="answer"
          autocomplete="off"
          #myInput
        />
        {{ myInput.focus() }}
      </form>
    </div>
    } @else if (banner === BannerType.Empty) {
    <div class="button-panel">
      <div
        class="button"
        (click)="sendBuzzIn()"
        [ngStyle]="{
          'background-color': buzzedIn ? 'var(--dangererer)' : null
        }"
        #buzzer
      >
        Buzz In
      </div>
    </div>
    }
    <timer
      *ngIf="
        banner === BannerType.AltAnswering || banner === BannerType.Answering
      "
      id="watching-timer"
      [onMessage$]="timerObservable$"
    />
  </div>
  <players-list
    [players]="players"
    [displayState]="'clue'"
    [changeFontSize]="changeFontSize"
  />
  <div class="progress-bar">
    <div
      class="progress-bar-fill"
      [ngStyle]="{ 'width.%': progress * 100 }"
    ></div>
  </div>
</main>
