<main class="main">
  <div class="clue-ui">
    <div class="clue">
      <div class="clue-text">{{ clue }}</div>
    </div>
    @if (banner === BannerType.Green || banner === BannerType.Red) {
      <div class="banner" [style.background-color] = banner>
        <div class="banner-text">{{ bannerText }} </div>
      </div>
    }
    @else if (banner === BannerType.AltAnswering) {
      <div class="answering-outer">
        <div class="answering-text">{{ answeringText }} </div>
        <timer />
      </div>
    }
    @else if (banner === BannerType.Answering) {
      <div class="answering-form">
        <div class="who-or-what"> Who/What is: </div>
        <input placeholder="your answer">
      </div>
    }
    @else {
      <div class="button-panel">
        <div class="button" (click)="sendBuzzIn()" [ngStyle]= "{'background-color': buzzedIn ? 'var(--dangererer)' : 'var(--red)'}">Buzz In</div>
      </div>
    }
  </div>
  <div class="players">
    <div class="players-container">
      @for (player of players; track player; let index = $index) {
      <div class="player-card">
        <div class="player-score">${{ player['score'] }}</div>
        <div class="player-name">{{ player['username'] }}</div>
      </div>
      }
    </div>
    <!-- <div class="player-fog"></div> -->
  </div>

  <div class="progress-bar">
    <div class="progress-bar-fill" [ngStyle]="{'width.%': progress * 100}"></div>
  </div>
</main>
